In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("C:\\Users\\SANTOSH KUMAR\\downloads\weather.csv")
print(data)

            date  precipitation  temp_max  temp_min  wind  weather
0     01-01-2012            0.0      12.8       5.0   4.7  drizzle
1     02-01-2012           10.9      10.6       2.8   4.5     rain
2     03-01-2012            0.8      11.7       7.2   2.3     rain
3     04-01-2012           20.3      12.2       5.6   4.7     rain
4     05-01-2012            1.3       8.9       2.8   6.1     rain
...          ...            ...       ...       ...   ...      ...
1456  27-12-2015            8.6       4.4       1.7   2.9     rain
1457  28-12-2015            1.5       5.0       1.7   1.3     rain
1458  29-12-2015            0.0       7.2       0.6   2.6      fog
1459  30-12-2015            0.0       5.6      -1.0   3.4      sun
1460  31-12-2015            0.0       5.6      -2.1   3.5      sun

[1461 rows x 6 columns]

In [3]:
data.head()

         date  precipitation  temp_max  temp_min  wind  weather
0  01-01-2012            0.0      12.8       5.0   4.7  drizzle
1  02-01-2012           10.9      10.6       2.8   4.5     rain
2  03-01-2012            0.8      11.7       7.2   2.3     rain
3  04-01-2012           20.3      12.2       5.6   4.7     rain
4  05-01-2012            1.3       8.9       2.8   6.1     rain

In [4]:
data.tail()

            date  precipitation  temp_max  temp_min  wind weather
1456  27-12-2015            8.6       4.4       1.7   2.9    rain
1457  28-12-2015            1.5       5.0       1.7   1.3    rain
1458  29-12-2015            0.0       7.2       0.6   2.6     fog
1459  30-12-2015            0.0       5.6      -1.0   3.4     sun
1460  31-12-2015            0.0       5.6      -2.1   3.5     sun

In [5]:
data.shape

(1461, 6)

In [6]:
data.index

RangeIndex(start=0, stop=1461, step=1)

In [7]:
data.columns

Index(['date', 'precipitation', 'temp_max', 'temp_min', 'wind', 'weather'], dtype='object')

In [8]:
data.dtypes

date              object
precipitation    float64
temp_max         float64
temp_min         float64
wind             float64
weather           object
dtype: object

In [9]:
data['weather'].unique()

array(['drizzle', 'rain', 'sun', 'snow', 'fog'], dtype=object)

In [10]:
data.nunique()

date             1461
precipitation     111
temp_max           67
temp_min           55
wind               79
weather             5
dtype: int64

In [11]:
data.count()

date             1461
precipitation    1461
temp_max         1461
temp_min         1461
wind             1461
weather          1461
dtype: int64

In [12]:
data['weather'].value_counts()

rain       641
sun        640
fog        101
drizzle     53
snow        26
Name: weather, dtype: int64

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1461 entries, 0 to 1460
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           1461 non-null   object
 1   precipitation  1461 non-null   float64
 2   temp_max       1461 non-null   float64
 3   temp_min       1461 non-null   float64
 4   wind           1461 non-null   float64
 5   weather        1461 non-null   object
dtypes: float64(4), object(2)
memory usage: 68.6+ KB

In [14]:
data.head(2)

         date  precipitation  temp_max  temp_min  wind  weather
0  01-01-2012            0.0      12.8       5.0   4.7  drizzle
1  02-01-2012           10.9      10.6       2.8   4.5     rain

In [15]:
data.nunique()

date             1461
precipitation     111
temp_max           67
temp_min           55
wind               79
weather             5
dtype: int64

In [16]:
data['temp_max'].nunique()

67

In [17]:
data['temp_max'].unique()

array([12.8, 10.6, 11.7, 12.2,  8.9,  4.4,  7.2, 10. ,  9.4,  6.1,  5. ,
        1.1,  1.7,  3.3,  0. , -1.1,  8.3,  6.7, 14.4, 15.6, 13.9, 16.1,
       11.1,  7.8,  5.6, 15. , 13.3, 16.7, 21.1, 20. , 17.8, 23.3, 21.7,
       23.9, 18.3, 24.4, 25.6, 26.7, 19.4, 17.2, 22.2, 18.9, 22.8, 20.6,
       25. , 28.3, 27.8, 26.1, 27.2, 33.9, 30.6, 28.9, 31.1, 34.4, 32.8,
       32.2,  3.9,  2.8,  2.2, 30. , 31.7, -0.5, -1.6, 29.4, 35.6, 33.3,
       35. ])

In [18]:
data.head(40)

          date  precipitation  temp_max  temp_min  wind  weather
0   01-01-2012            0.0      12.8       5.0   4.7  drizzle
1   02-01-2012           10.9      10.6       2.8   4.5     rain
2   03-01-2012            0.8      11.7       7.2   2.3     rain
3   04-01-2012           20.3      12.2       5.6   4.7     rain
4   05-01-2012            1.3       8.9       2.8   6.1     rain
5   06-01-2012            2.5       4.4       2.2   2.2     rain
6   07-01-2012            0.0       7.2       2.8   2.3     rain
7   08-01-2012            0.0      10.0       2.8   2.0      sun
8   09-01-2012            4.3       9.4       5.0   3.4     rain
9   10-01-2012            1.0       6.1       0.6   3.4     rain
10  11-01-2012            0.0       6.1      -1.1   5.1      sun
11  12-01-2012            0.0       6.1      -1.7   1.9      sun
12  13-01-2012            0.0       5.0      -2.8   1.3      sun
13  14-01-2012            4.1       4.4       0.6   5.3     snow
14  15-01-2012            5.3       1.1      -3.3   3.2     snow
15  16-01-2012            2.5       1.7      -2.8   5.0     snow
16  17-01-2012            8.1       3.3       0.0   5.6     snow
17  18-01-2012           19.8       0.0      -2.8   5.0     snow
18  19-01-2012           15.2      -1.1      -2.8   1.6     snow
19  20-01-2012           13.5       7.2      -1.1   2.3     snow
20  21-01-2012            3.0       8.3       3.3   8.2     rain
21  22-01-2012            6.1       6.7       2.2   4.8     rain
22  23-01-2012            0.0       8.3       1.1   3.6     rain
23  24-01-2012            8.6      10.0       2.2   5.1     rain
24  25-01-2012            8.1       8.9       4.4   5.4     rain
25  26-01-2012            4.8       8.9       1.1   4.8     rain
26  27-01-2012            0.0       6.7      -2.2   1.4  drizzle
27  28-01-2012            0.0       6.7       0.6   2.2     rain
28  29-01-2012           27.7       9.4       3.9   4.5     rain
29  30-01-2012            3.6       8.3       6.1   5.1     rain
30  31-01-2012            1.8       9.4       6.1   3.9     rain
31  01-02-2012           13.5       8.9       3.3   2.7     rain
32  02-02-2012            0.0       8.3       1.7   2.6      sun
33  03-02-2012            0.0      14.4       2.2   5.3      sun
34  04-02-2012            0.0      15.6       5.0   4.3      sun
35  05-02-2012            0.0      13.9       1.7   2.9      sun
36  06-02-2012            0.0      16.1       1.7   5.0      sun
37  07-02-2012            0.3      15.6       7.8   5.3     rain
38  08-02-2012            2.8      10.0       5.0   2.7     rain
39  09-02-2012            2.5      11.1       7.8   2.4     rain

In [19]:
data.weather.value_counts()

rain       641
sun        640
fog        101
drizzle     53
snow        26
Name: weather, dtype: int64

In [20]:
data[data.weather=='sun']

            date  precipitation  temp_max  temp_min  wind weather
7     08-01-2012            0.0      10.0       2.8   2.0     sun
10    11-01-2012            0.0       6.1      -1.1   5.1     sun
11    12-01-2012            0.0       6.1      -1.7   1.9     sun
12    13-01-2012            0.0       5.0      -2.8   1.3     sun
32    02-02-2012            0.0       8.3       1.7   2.6     sun
...          ...            ...       ...       ...   ...     ...
1427  28-11-2015            0.0       7.2      -2.7   1.0     sun
1443  14-12-2015            0.0       7.8       1.7   1.7     sun
1455  26-12-2015            0.0       4.4       0.0   2.5     sun
1459  30-12-2015            0.0       5.6      -1.0   3.4     sun
1460  31-12-2015            0.0       5.6      -2.1   3.5     sun

[640 rows x 6 columns]

In [21]:
data.head(5)

         date  precipitation  temp_max  temp_min  wind  weather
0  01-01-2012            0.0      12.8       5.0   4.7  drizzle
1  02-01-2012           10.9      10.6       2.8   4.5     rain
2  03-01-2012            0.8      11.7       7.2   2.3     rain
3  04-01-2012           20.3      12.2       5.6   4.7     rain
4  05-01-2012            1.3       8.9       2.8   6.1     rain

In [22]:
data.groupby('weather').get_group('sun')

            date  precipitation  temp_max  temp_min  wind weather
7     08-01-2012            0.0      10.0       2.8   2.0     sun
10    11-01-2012            0.0       6.1      -1.1   5.1     sun
11    12-01-2012            0.0       6.1      -1.7   1.9     sun
12    13-01-2012            0.0       5.0      -2.8   1.3     sun
32    02-02-2012            0.0       8.3       1.7   2.6     sun
...          ...            ...       ...       ...   ...     ...
1427  28-11-2015            0.0       7.2      -2.7   1.0     sun
1443  14-12-2015            0.0       7.8       1.7   1.7     sun
1455  26-12-2015            0.0       4.4       0.0   2.5     sun
1459  30-12-2015            0.0       5.6      -1.0   3.4     sun
1460  31-12-2015            0.0       5.6      -2.1   3.5     sun

[640 rows x 6 columns]

In [23]:
data[data['wind']==4.0]

            date  precipitation  temp_max  temp_min  wind  weather
103   13-04-2012            0.0      15.0       3.9   4.0  drizzle
141   21-05-2012           14.0      16.7      10.0   4.0     rain
201   20-07-2012           15.2      19.4      13.9   4.0     rain
309   05-11-2012            0.8      15.0       7.8   4.0     rain
396   31-01-2013            3.0       9.4       7.2   4.0     rain
473   18-04-2013            5.3      11.7       6.7   4.0     rain
487   02-05-2013            0.0      20.6       6.7   4.0      sun
514   29-05-2013            5.6      16.1       9.4   4.0     rain
721   22-12-2013           10.7      10.6       8.3   4.0     rain
835   15-04-2014            0.5      14.4       7.8   4.0     rain
873   23-05-2014            3.8      20.0      12.8   4.0     rain
893   12-06-2014            1.8      21.7      12.2   4.0     rain
1080  16-12-2014            0.0      10.0       8.3   4.0      sun
1128  02-02-2015            7.4      11.1       5.0   4.0     rain
1136  10-02-2015            0.3      12.8       8.3   4.0     rain
1143  17-02-2015            0.0      16.1       4.4   4.0      sun
1153  27-02-2015           18.3      10.0       6.7   4.0     rain
1181  27-03-2015            1.0      18.3       8.9   4.0     rain
1415  16-11-2015            2.0       8.9       1.7   4.0     rain
1419  20-11-2015            0.0       8.3       0.6   4.0      fog
1434  05-12-2015           15.7      10.0       6.1   4.0     rain

In [24]:
data.isnull().sum()

date             0
precipitation    0
temp_max         0
temp_min         0
wind             0
weather          0
dtype: int64

In [25]:
data.notnull().sum()

date             1461
precipitation    1461
temp_max         1461
temp_min         1461
wind             1461
weather          1461
dtype: int64

In [26]:
data.rename(columns={'wind':'windspeed'},inplace=True)

In [27]:
data.head(2)

         date  precipitation  temp_max  temp_min  windspeed  weather
0  01-01-2012            0.0      12.8       5.0        4.7  drizzle
1  02-01-2012           10.9      10.6       2.8        4.5     rain

In [28]:
data.precipitation.mean()

3.02943189596167

In [29]:
data.temp_min.std()

5.023004179961266

In [30]:
data.temp_max.var()

54.018944089711496

In [31]:
data.weather.value_counts()

rain       641
sun        640
fog        101
drizzle     53
snow        26
Name: weather, dtype: int64

In [32]:
data[data['weather'] =='snow']

            date  precipitation  temp_max  temp_min  windspeed weather
13    14-01-2012            4.1       4.4       0.6        5.3    snow
14    15-01-2012            5.3       1.1      -3.3        3.2    snow
15    16-01-2012            2.5       1.7      -2.8        5.0    snow
16    17-01-2012            8.1       3.3       0.0        5.6    snow
17    18-01-2012           19.8       0.0      -2.8        5.0    snow
18    19-01-2012           15.2      -1.1      -2.8        1.6    snow
19    20-01-2012           13.5       7.2      -1.1        2.3    snow
56    26-02-2012            1.3       5.0      -1.1        3.4    snow
58    28-02-2012            3.6       6.7      -0.6        4.2    snow
59    29-02-2012            0.8       5.0       1.1        7.0    snow
65    06-03-2012            0.5       6.7       0.0        2.7    snow
71    12-03-2012           19.3       8.3       0.6        6.2    snow
72    13-03-2012            9.4       5.6       0.6        5.3    snow
74    15-03-2012           23.9      11.1       5.6        5.8    snow
76    17-03-2012            9.4      10.0       0.6        3.8    snow
95    05-04-2012            4.6       9.4       2.8        1.8    snow
349   15-12-2012            5.3       4.4       0.6        5.1    snow
350   16-12-2012           22.6       6.7       3.3        5.5    snow
352   18-12-2012            3.3       3.9       0.6        5.3    snow
353   19-12-2012           13.7       8.3       1.7        5.8    snow
359   25-12-2012           13.5       5.6       2.8        4.2    snow
375   10-01-2013            0.3       3.3      -0.6        2.1    snow
445   21-03-2013            8.1      10.0       2.2        4.9    snow
719   20-12-2013            5.6       8.3       0.6        3.7    snow
769   08-02-2014            5.1       5.6      -0.5        4.6    snow
1063  29-11-2014            3.6       4.4      -4.3        5.3    snow

In [33]:
data[data['weather'].str.contains('snow')]

            date  precipitation  temp_max  temp_min  windspeed weather
13    14-01-2012            4.1       4.4       0.6        5.3    snow
14    15-01-2012            5.3       1.1      -3.3        3.2    snow
15    16-01-2012            2.5       1.7      -2.8        5.0    snow
16    17-01-2012            8.1       3.3       0.0        5.6    snow
17    18-01-2012           19.8       0.0      -2.8        5.0    snow
18    19-01-2012           15.2      -1.1      -2.8        1.6    snow
19    20-01-2012           13.5       7.2      -1.1        2.3    snow
56    26-02-2012            1.3       5.0      -1.1        3.4    snow
58    28-02-2012            3.6       6.7      -0.6        4.2    snow
59    29-02-2012            0.8       5.0       1.1        7.0    snow
65    06-03-2012            0.5       6.7       0.0        2.7    snow
71    12-03-2012           19.3       8.3       0.6        6.2    snow
72    13-03-2012            9.4       5.6       0.6        5.3    snow
74    15-03-2012           23.9      11.1       5.6        5.8    snow
76    17-03-2012            9.4      10.0       0.6        3.8    snow
95    05-04-2012            4.6       9.4       2.8        1.8    snow
349   15-12-2012            5.3       4.4       0.6        5.1    snow
350   16-12-2012           22.6       6.7       3.3        5.5    snow
352   18-12-2012            3.3       3.9       0.6        5.3    snow
353   19-12-2012           13.7       8.3       1.7        5.8    snow
359   25-12-2012           13.5       5.6       2.8        4.2    snow
375   10-01-2013            0.3       3.3      -0.6        2.1    snow
445   21-03-2013            8.1      10.0       2.2        4.9    snow
719   20-12-2013            5.6       8.3       0.6        3.7    snow
769   08-02-2014            5.1       5.6      -0.5        4.6    snow
1063  29-11-2014            3.6       4.4      -4.3        5.3    snow

In [34]:
data[(data['windspeed'] > 4.2) & (data['weather']=='snow')]

            date  precipitation  temp_max  temp_min  windspeed weather
13    14-01-2012            4.1       4.4       0.6        5.3    snow
15    16-01-2012            2.5       1.7      -2.8        5.0    snow
16    17-01-2012            8.1       3.3       0.0        5.6    snow
17    18-01-2012           19.8       0.0      -2.8        5.0    snow
59    29-02-2012            0.8       5.0       1.1        7.0    snow
71    12-03-2012           19.3       8.3       0.6        6.2    snow
72    13-03-2012            9.4       5.6       0.6        5.3    snow
74    15-03-2012           23.9      11.1       5.6        5.8    snow
349   15-12-2012            5.3       4.4       0.6        5.1    snow
350   16-12-2012           22.6       6.7       3.3        5.5    snow
352   18-12-2012            3.3       3.9       0.6        5.3    snow
353   19-12-2012           13.7       8.3       1.7        5.8    snow
445   21-03-2013            8.1      10.0       2.2        4.9    snow
769   08-02-2014            5.1       5.6      -0.5        4.6    snow
1063  29-11-2014            3.6       4.4      -4.3        5.3    snow

In [35]:
data.groupby('weather').mean()

C:\Users\SANTOSH KUMAR\AppData\Local\Temp\ipykernel_840\8242072.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  data.groupby('weather').mean()

         precipitation   temp_max  temp_min  windspeed
weather
drizzle       0.000000  15.926415  7.111321   2.367925
fog           0.000000  16.757426  7.979208   2.481188
rain          6.557878  13.454602  7.588768   3.669891
snow          8.553846   5.573077  0.146154   4.411538
sun           0.000000  19.861875  9.343750   2.956406

In [36]:
data.groupby('weather').min()

               date  precipitation  temp_max  temp_min  windspeed
weather
drizzle  01-01-2012            0.0       1.1      -3.9        0.6
fog      01-10-2015            0.0       1.7      -3.2        0.8
rain     01-02-2012            0.0       3.9      -3.8        0.5
snow     05-04-2012            0.3      -1.1      -4.3        1.6
sun      01-01-2013            0.0      -1.6      -7.1        0.4

In [37]:
data.groupby('weather').max()

               date  precipitation  temp_max  temp_min  windspeed
weather
drizzle  31-12-2012            0.0      31.7      16.1        4.7
fog      31-01-2015            0.0      30.6      17.8        6.6
rain     31-12-2013           55.9      35.6      18.3        9.5
snow     29-11-2014           23.9      11.1       5.6        7.0
sun      31-12-2015            0.0      35.0      18.3        7.7

In [38]:
data[data['weather'] =='fog']

            date  precipitation  temp_max  temp_min  windspeed weather
192   11-07-2012            0.0      27.8      13.3        2.9     fog
260   17-09-2012            0.0      27.8      11.7        2.2     fog
266   23-09-2012            0.0      19.4      10.0        1.4     fog
267   24-09-2012            0.0      21.1      10.0        1.8     fog
330   26-11-2012            0.0       9.4       1.7        3.8     fog
...          ...            ...       ...       ...        ...     ...
1419  20-11-2015            0.0       8.3       0.6        4.0     fog
1421  22-11-2015            0.0      10.0       1.7        3.1     fog
1428  29-11-2015            0.0       1.7      -2.1        0.9     fog
1448  19-12-2015            0.0       8.3       2.8        4.1     fog
1458  29-12-2015            0.0       7.2       0.6        2.6     fog

[101 rows x 6 columns]

In [39]:
data[(data['weather']=='rain') | (data['temp_min']>5.0)]

            date  precipitation  temp_max  temp_min  windspeed weather
1     02-01-2012           10.9      10.6       2.8        4.5    rain
2     03-01-2012            0.8      11.7       7.2        2.3    rain
3     04-01-2012           20.3      12.2       5.6        4.7    rain
4     05-01-2012            1.3       8.9       2.8        6.1    rain
5     06-01-2012            2.5       4.4       2.2        2.2    rain
...          ...            ...       ...       ...        ...     ...
1452  23-12-2015            6.1       5.0       2.8        7.6    rain
1453  24-12-2015            2.5       5.6       2.2        4.3    rain
1454  25-12-2015            5.8       5.0       2.2        1.5    rain
1456  27-12-2015            8.6       4.4       1.7        2.9    rain
1457  28-12-2015            1.5       5.0       1.7        1.3    rain

[1231 rows x 6 columns]

In [40]:
data.describe()

       precipitation     temp_max     temp_min    windspeed
count    1461.000000  1461.000000  1461.000000  1461.000000
mean        3.029432    16.439083     8.234771     3.241136
std         6.680194     7.349758     5.023004     1.437825
min         0.000000    -1.600000    -7.100000     0.400000
25%         0.000000    10.600000     4.400000     2.200000
50%         0.000000    15.600000     8.300000     3.000000
75%         2.800000    22.200000    12.200000     4.000000
max        55.900000    35.600000    18.300000     9.500000